.App {
  text-align: center;
}

.app-name {
  border: 2px solid black;
  /*border-radius: 0.25rem;*/
  display: inline-block;
  padding-right: .1em;
  padding-left: .1em;
  margin-left: 45px;
  transition: .3s transform cubic-bezier(.25,.1,.25,1), .3s box-shadow;
  box-shadow: 10px 5px #0d6dfd94;
}

.app-name:hover {
  /*border-radius: 0.25rem;*/
  display: inline-block;
  transition: .3s transform cubic-bezier(.25,.1,.25,1), .3s box-shadow;
  box-shadow: 14px 6px #0d6dfdb7;
}

.task {
  border: 1px solid black;
  /*border-radius: 0.25rem;*/
  transition: .3s transform cubic-bezier(.25,.1,.25,1), .3s box-shadow;
  box-shadow: 10px 5px #0d6dfd94;
}

.task:hover {
  transition: .3s transform cubic-bezier(.25,.1,.25,1), .3s box-shadow;
  box-shadow: 14px 6px #0d6dfdb7;
}

.hidden {
  display: none;
}

.collapsed > input {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  /*border: 1px solid transparent;*/
}

.status-title {
  font-weight: 600;
  font-size: 20px;
}


.timer {
  font-size: xx-large;
  display: inline-block;
  margin-left: 1rem;
  transition: .3s transform cubic-bezier(.25,.1,.25,1), .2s color;
  color: black;
}

.timer:hover {
  transition: .3s transform cubic-bezier(.25,.1,.25,1), .2s color;
  color: #0d6dfdb7;
}

/*.button-lr {
  margin-right: .2rem;
  margin-left: .2rem;
}*/
.task-title {
  font-weight: 700;
  text-align: left;
}

.desc {
  margin-bottom: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
